@media screen and (max-width: 992px) {
    .main-title__item_big {
        font-size: 60px;
    }
    .main-title__item_small {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .main-title__item_big {
        font-size: 40px;
    }
    .main-title__item_small {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .main-title__item_big {
        font-size: 25px;
    }
    .main-title__item_small {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
}